In [1328]:
import os
import pandas as pd 
import numpy as np
import math

In [1329]:
#task 1.1-1.4, 1.6

In [1330]:
energy = pd.read_excel('D:\jupyter\pandas\Energy_Indicators.xls',skiprows= 17,skipfooter=283-245,usecols="C:F",
                       na_values=['...'], dtype = {'':'string','Petajoules':'Int64', 'Gigajoules':'Int64'})
energy.columns = ['Country','Energy Supply','Energy Supply per Capita','% Renewable']

In [1331]:
#task 1.5

In [1357]:
energy['Energy Supply'] *= 1000000

In [1333]:
#task 1.8

In [1358]:
for ind in energy.index:
    energy.loc[ind,'Country'] = ''.join([i for i in energy.loc[ind,'Country'] if not i.isdigit()])
    if (energy.loc[ind,'Country'].find('(') != -1):
        ind2 = energy.loc[ind,'Country'].find('(')
        energy.loc[ind,'Country'] = energy.loc[ind,'Country'][:(len(energy.loc[ind,'Country']) - (len(energy.loc[ind,'Country']) - ind2))]

In [1335]:
#task 1.7

In [1359]:
energy['Country'] = energy['Country'].replace({'Republic of Korea':'South Korea', 'United States of America':'United States','United Kingdom of Great Britain and Northern Ireland':'United Kingdom','China, Hong Kong Special Administrative Region':'Hong Kong'})

In [1337]:
#task 1.9

In [1360]:
GDP = pd.read_csv('D:\jupyter\pandas\world_bank.csv', sep = ',', skiprows=4, nrows= 267)
GDP.dropna(how = 'all', axis = 1, inplace = True)
pd.set_option('display.max_rows', GDP.shape[0]+1)

In [1339]:
#task 1.10

In [1361]:
GDP['Country Name'] = GDP['Country Name'].replace({'Korea, Rep.':'South Korea', 'Iran, Islamic Rep.':'Iran','Hong Kong SAR, China':'Hong Kong'})

In [1341]:
#task 1.11

In [1362]:
ScimEn = pd.read_excel('D:\jupyter\pandas\scimagojr_country_rank_1996-2021.xlsx')

In [1343]:
def answer_one():
    GDP_data = GDP.drop(GDP.loc[:, 'Country Code':'2005'], axis=1)
    GDP_data.drop(GDP.loc[:, '2016':'2021'], axis=1, inplace=True)
    GDP_data.rename(columns={"Country Name": "Country"}, inplace = True)
    ScimEn_data = ScimEn.head(15)
    result = pd.merge(ScimEn_data, energy, how='left')
    result = pd.merge(result, GDP_data, how='left')
    result.drop(['Region'], axis=1, inplace=True)
    result = result.set_index(['Country'])
    return result

In [1344]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,...,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,
China,1,303064,301778,3036531,2092737,10.02,273,127191000000,...,4.594307e+12,5.101703e+12,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13
United States,2,184851,181106,2623922,819242,14.19,389,90838000000,...,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13
India,3,60257,58589,590570,213760,9.80,198,33195000000,...,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Japan,4,52780,52281,557023,132113,10.55,203,18984000000,...,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,47141,45928,748994,132737,15.89,244,7920000000,...,2.938882e+12,2.425798e+12,2.491110e+12,2.674891e+12,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12
Germany,6,42343,41464,528645,115432,12.48,211,13261000000,...,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,39424,39189,142937,67935,3.63,96,30709000000,...,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12
Canada,8,35588,34940,665415,113363,18.70,246,10431000000,...,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,31260,29959,433388,105641,13.86,177,6530000000,...,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,31200,30949,405923,74753,13.01,169,11007000000,...,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11,26848,26320,403834,73792,15.04,190,10597000000,...,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Iran,12,25481,25204,398571,122647,15.64,159,<NA>,...,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
Spain,13,24969,24505,427391,77583,17.12,187,4923000000,...,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324744e+12,1.355143e+12,1.371223e+12,1.195600e+12
Brazil,14,23110,22762,219895,53635,9.52,139,12149000000,...,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Australia,15,22803,22276,396186,62694,17.37,192,5386000000,...,1.055127e+12,9.280430e+11,1.147589e+12,1.397908e+12,1.546509e+12,1.576335e+12,1.467505e+12,1.350534e+12

In [1345]:
def answer_two():
    Top15 = answer_one()
    avgGDP = pd.DataFrame(data = Top15['Rank'])
    avgGDP.rename(columns={"Rank": "Average"}, inplace = True)
    avgGDP['Average'] = Top15.iloc[:, 11:20].sum(axis=1)
    return avgGDP

In [1346]:
answer_two()

                         Average
Country
China               6.652489e+13
United States       1.432247e+14
India               1.508326e+13
Japan               4.779476e+13
United Kingdom      2.520305e+13
Germany             3.223871e+13
Russian Federation  1.567753e+13
Canada              1.484433e+13
Italy               1.948031e+13
South Korea         1.116050e+13
France              2.459283e+13
Iran                4.296962e+12
Spain               1.274687e+13
Brazil              1.878126e+13
Australia           1.132351e+13

In [1347]:
def answer_three():
    Top15 = answer_one()
    return Top15.iloc[5,19]-Top15.iloc[5,10]

In [1348]:
answer_three()

362882077328.0303

In [1349]:
def answer_four():
    Top15 = answer_one()
    List = []
    for ind in Top15.index:
        List.append(Top15.loc[ind,'Self-citations'] / Top15.loc[ind,'Citations'])
    return Top15.index[List.index(max(List))]

In [1350]:
answer_four()

'China'

In [1351]:
def answer_five():
    Top15 = answer_one()
    Top15['Population'] = np.nan
    for ind in Top15.index:
        Top15.loc[ind,'Population'] = (Top15.loc[ind,'Energy Supply'] / Top15.loc[ind,'Energy Supply per Capita'])
        Top15.sort_values(by=['Population'], inplace = True, ascending = False)
    return  Top15.index[2]

In [1352]:
answer_five()

'United States'

In [1353]:
def answer_six():
    Top15 = answer_one()
    Top15['Population'] = np.nan
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    Top15['Citable documents per Capita'] = np.nan
    Top15['Citable documents per Capita'] = Top15['Citable documents'] / Top15['Population']

    return Top15['Citable documents per Capita'].astype('float64').corr(Top15['Energy Supply per Capita'].astype('float64'))

In [1354]:
answer_six()

0.7215399286530993

In [1355]:
def answer_seven():
    Top15 = answer_one()
    
    Top15['Population'] = np.nan
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    
    result = pd.DataFrame(columns = ['size','sum','mean','std'], index = ['Asia','Australia','Europe','North America','South America'])
    result = result.fillna(0)

    for country, continent in ContinentDict.items():
        result.loc[continent,'size'] += 1
        if pd.notna(Top15.loc[country,'Population']):
            result.loc[continent,'sum'] += Top15.loc[country,'Population']
        
    result['mean'] = result['sum'] / result['size']
        
    for country, continent in ContinentDict.items():
        if pd.notna(Top15.loc[country,'Population']):
            result.loc[continent,'std'] += pow(Top15.loc[country,'Population'] - result.loc[continent,'mean'], 2)
            
    for ind in result.index:
        if result.loc[ind,'size'] != 1:
            result.loc[ind,'std'] = math.sqrt(result.loc[ind,'std'] / result.loc[ind,'size'])
    
    return result

In [1356]:
answer_seven()

               size           sum          mean           std
Asia              5  2.821591e+09  5.643182e+08  5.671823e+08
Australia         1  2.331602e+07  2.331602e+07  0.000000e+00
Europe            6  4.579297e+08  7.632161e+07  3.162885e+07
North America     2  3.528552e+08  1.764276e+08  1.411878e+08
South America     1  2.059153e+08  2.059153e+08  0.000000e+00